<h2>My Favorite Movies</h2>
<form method="POST" action="/detail">
    <input type="text" name="name" placeholder="name" required maxlength="100">
    <button>Search</button>
</form>
<hr>
<h3>Movies</h3>
{{#each movies}}
    <li><a href="/detail?name={{name}}">{{name}}</a></li>
{{/each}}