<h2>My Favorite Movies</h2>
<form method="POST" action="/detail">
    <input type="text" name="name" placeholder="name" required maxlength="100">
    <button>Search</button>
</form>
<hr>
<h3>Movies</h3>

<div id="root"></div>
<script type="text/babel">

//    const movies = {{{movies}}}
//    console.log(movies)


    //return a list of books
    const Movies = (props) => {
        // props is an array
        console.log(props)
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.name}
        </li>);
        return <ul>{listItems}</ul>
    }

    const ItemDetail = (props) => {
        return <div>
            <hr />
            <h3>Movie Details</h3>
            {props.item && <ul>
                <li>name: {props.item.name}</li>
                <li>year: {props.item.year}</li>
                <li>rate: {props.item.rate}</li>
                <li>type: {props.item.type}</li>
            </ul>
            }
        </div>
    }

    class MovieApp extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            items: {{{movies}}},
            currentItem: {}
        };
        this.selectItem = this.selectItem.bind(this);
    }

        selectItem = (event) => {
            // <a href={"/detail?name="+item.name}>
            console.log(event.target.innerText)
            const found = this.state.items.find((item) => {
                return item.name === event.target.innerText;
            });
            this.setState({currentItem: found })
            //window.location.href = "/detail?name=" + event.target.innerText;
        }

    render() {
        return ( 
        <div> <h2>Inventory</h2>  
            <Movies data={this.state.items} clickHandler={this.selectItem} />
            <ItemDetail item={this.state.currentItem} />  
        </div> );
        }
    }
    ReactDOM.render(  <MovieApp />,  document.getElementById('root') );

</script>